﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dynamites<br />
    L&T Bangalore<br />
    <abbr title="Phone">P:</abbr>
   +91-812565565
</address>

<address>
    <strong>Support:</strong>   <a href="">Support@Dynamites.com</a><br />
    <strong>Marketing:</strong> <a href="">Marketing@Dynamites.com</a>
</address>