﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Web Based Linux Terminal</h1>
    <p class="lead">Web based Linux terminal is a project that allows users to register and login to be able to use it.The user can enter various linux commands to execute the same</p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Login</h2>
        <p>
            if you are registered user,login to continue using the terminal.
        </p>
       
        <p><input type="button"  value="Login" onclick="window.location.href = '@Url.Action("Login", "Home")'" />
    </div>
    <div class="col-md-4">
        <h2>Register</h2>
        <p>Register yourself to be able to access the Linux terminal</p>
        
        <p><input type="button"  value="Register" onclick="window.location.href = '@Url.Action("Register", "Home")'" />    </div>
    
</div>
<script>
    $(document).ready(function () {
        $("#btnId").click(function (event) {
            event.preventDefault();
            var url = '@Url.Action("Login", "Home")';
            window.location.href = url;
        });
    });
</script>