﻿
@{
    ViewBag.Title = "Otp";
}

<h2>OTP</h2>

<h5>OTP is sent to your Registered Phone Number.</h5>
<form action=" " method="post">
    OTP:<input type="text" name="otp" id="otp" /></br></br>


 

    <input type="submit" id="submit" value="Submit"  onClick="window.location='HtmlPage1.html';"  />
    </form>