﻿
@{
    ViewBag.Title = "Register";
}
<style>
    .inputdata label{
        position:absolute;
    }
</style>


<div class="row">
    <div class="col-md-8">
        <section id="RegisterForm">
            <h2>Register</h2>
            <h4>Use a local account to log in.</h4>
            <hr />
            <div class="inputdata">
            <form action="" method="post">
                Username:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<input type="text" id="username" name="username" /></br></br>
                Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" id="email" name="email" /></br></br>

                Phone No.: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<input type="number" id="phone" name="phone" /></br></br>
                Password:&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<input type="password" id="password" name="password" /></br></br>
                Confirm Password:  <input type="password" id="confirmpassword" name="confirmpassword" /></br></br>


                <input type="submit" id="submit1" value="Register" onclick="window.location.href = '@Url.Action("Login", "Home")'"  />
            </form>
            </div>
        </section>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#submit1").click(function () {
            if ($("#username").val() == "")
                alert("Username cannot be empty!!!!!");
            else if ($("#email").val() == "")
                alert("email cannot be empty!!");
            else if ($("#phone").val() == "")
                alert("Phone Number cannot be empty!! Required for two factor authentication!!");
            else if ($("#password").val() == "")
                alert(" Password cannot be empty!!");
            else if ($("#confirmpassword").val() == "")
                alert("confirm Password cannot be empty!!n");
            else {
                $.ajax({
                    type: "POST",
                    url: "/Home/Register",
                    contentType: "application/json; charset=utf-8",
                    data: '{"userName":"' + $("#username").val() + '","email":"' + $("#email").val() + '","password":"' + $("#password").val() + '","Confirmpassword":"' + $("#confirmpassword").val() + '","phone":"' + $("#phone").val() + '"}',
                    dataType: "html",
                    success: function (result, status, xhr) {
                        $("#dataDiv").html(result);
                    },
                    error: function (xhr, status, error) {
                        $("#dataDiv").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                    }
                });
            }
            return false;
        });
    });

</script>
