﻿
@{
    ViewBag.Title = "Terminal";
}

<h2>Terminal</h2>
<link href="cssConsole.css" type="text/css" rel="stylesheet">
<script src="/path/to/cssConsole.min.js"></script>
<style>
    textarea {
        background-color: black;
        border: 1px solid #000;
        color: #00ff00;
        padding: 8px;
        font-family: courier new;
    }
</style>

<div class="col-md-12">

<textarea name="terminal" id="terminal">
$
</textarea>

</div>

<script>
    $('#elementsID').cssConsole();
</script>

